* {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
}

.baned {
   color: red;      
}

.warning {
    background: #ffc4c6;
    color: #a20606;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.error {
    color: rgb(224, 2, 2);
    transform: translateY( 5);
}

.hide {
    display: none;
}

.welcome {
    display: inline-block;
    margin-right: 10px;
}

.board {
    background-color: white;
    width: 100%;
    max-Width: 600px;
    margin: 20px auto;
    padding: 30px 30px;
    box-shadow: 1px 1px 3px #e8e8e8;
    border-radius: 5px;
    display: relative;
}

.board__title {
    margin: 10px 0 30px 0;
}

.board__update-nickname-btn {
    border: 1px solid #c2dffb;
    border-radius: 5px;
    color: #583c63;
    padding: 5px;
    width: auto;
    font-size: 10px;
    background: white;
    margin-left: 5px;
}

.board__nickname {
    margin-bottom: 10px;
}

.board__nickname input {
    border: 1px solid #c2dffb;
    padding: 5px;
}

.board__nickname-submit-btn {
    border: 1px solid #c2dffb;
    padding: 100px;
    border-radius: 5px;
    color: #583c63;
    width: 100px;
    font-size: 16px;
    background: white;
}

.board__update-user-form {
    margin: 5px 0;
}

.board__new-commnet-form {
    margin-top: 10px;
}

.board__new-commnet-form  textarea{
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c2dffb;
    margin-bottom: 10px;
    box-sizing: border-box;

}


.board__submit-btn {
    border: 1px solid #c2dffb;
    padding: 10px;
    border-radius: 5px;
    color: #583c63;
    width: 100px;
    font-size: 16px;
    background: white;
}

.board__hr {
    margin: 20px 0;
    height: 2px;
    max-width: 100%;
    background: #e8e8e8;
}

.board__btn {
    border: 1px solid #c2dffb;
    padding: 10px;
    border-radius: 5px;
    color: #583c63;
    width: auto;
    font-size: 16px;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px 15px 0px;
}

.card {
    margin: 20px 0;
    min-height: 70px;
    display: flex;
}

.card__avatar {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e4f0fb;
}

.card__body {
    margin-left: 20px;
}

.card__info {
    margin-bottom: 10px;
}

.card__autor {
    color: #5c9edc;
    font-weight: bold;
}

.card__time {
    color: #a0a0a0;
}

.card__content {
    white-space: pre-line;
}

.page-info {
    text-align: center;
}

.paginator {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.paginator a {
    text-align: center;
    text-decoration: none;
    border: 1px solid #c2dffb;
    border-radius: 5px;
    width:100px;
    padding: 10px;
    margin: 0 5px;
}

.manage__board {
    background-color: white;
    width: 100%;
    max-Width: 700px;
    margin: 20px auto;
    padding: 30px 30px;
    box-shadow: 1px 1px 3px #e8e8e8;
    border-radius: 5px;
    display: relative;
}

.manage__table {
    display: flex;
    justify-content: center;
}



.manage__table td {
    padding: 5px 20px;
    text-align: center;
    border: 1px solid #c2dffb;
}

.manage__btn {
    border: 1px solid #c2dffb;
    padding: 3px 5px;
    color: #583c63;
    width: auto;
    font-size: 16px;
    background: white;
    text-decoration: none;
    display: inline-block;
}